:root {
    --primary: #6366f1;
    --bg:#0f172a;
    --text:#ffffff;
    --card: #1e293b;
}

body.light {
    --bg: #f8fafc;
    --text: #111827;
    --card: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--text);
}

.hero {
    text-align: center;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    padding: 100px 20px;
    color: white;
}

.hero h1{
    font-size: 3rem;
}

.buttons{
    margin-top: 20px;
}

.btn {
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}

.primary {
    background: white;
    color: #6366f1;
    font-weight: bold;
}

.secondary{
    background: transparent;
    border: 2px solid white;
    color: white;
}

.features{
    padding: 80px 20px;
    text-align: center;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-top: 40px;
}

.card{
    background: var(--card);
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.pricing{
    padding: 80px 20px;
    text-align: center;
}

.pricing-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.price-card {
  background: var(--card);
  padding: 40px;
  border-radius: 15px;
  width: 250px;
}

.popular {
  border: 2px solid var(--primary);
}

/* Testimonials */
.testimonials {
  padding: 80px 20px;
  text-align: center;
}

.testimonial {
  max-width: 600px;
  margin: auto;
}

/* FAQ */
.faq {
  padding: 80px 20px;
  max-width: 800px;
  margin: auto;
}

.faq-question {
  width: 100%;
  padding: 15px;
  background: var(--card);
  border: none;
  color: var(--text);
  text-align: left;
  cursor: pointer;
  margin-top: 10px;
}

.faq-answer {
  display: none;
  padding: 15px;
  background: #334155;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: var(--card);
}

.primary:hover{
    transform: scale(1.05);
}